/* TODO Add site wide styles */
body {
  margin: 0;
  background: url('./components/SplashPage/dog-silhouettes-vector.png')
    no-repeat center center fixed;
  /* background: url('./components/SplashPage/rottweiler-puppies-fade.png') no-repeat center center fixed; */
  background-size: cover;
  /* font-family: 'Merriweather Sans', sans-serif; */
  /* font-family: 'Unna', serif; */
}

*:focus{
  outline:none
}
