.browse__container {
    display: flex;  
    justify-content: center;
    margin-top: 40px; 

}

.browse__bar > input {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    
}

.search__text {
    font-size: 14px;
}

.result__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    height: 100%;
}

.tile__results {
    display: flex;
    background-color: whitesmoke;
    margin: 30px;
    border-radius: 10px;
    height: min-content;
}

.pet__card {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.pet__card > img {
    /* object-fit: cover; */
    width: 100%;
    /* min-width: 300px;
    height: 200px;
    width: 300px; */
}

.pet__card-info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    text-decoration: none;
    color: black;
}

.pet__card-info > h2 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
}