.browse__container {
    display: flex;  
    justify-content: center;
    margin-top: 3rem; 
}

.browse__bar > input {
    width: 35rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.result__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    height: 100%;
}

.tile__results {
    display: flex;
    background-color: whitesmoke;
    margin: 2.5rem;
    border-radius: .5rem;
    height: min-content;
}

.pet__card {
    border-radius: .5rem;
    overflow: hidden;
    width: 15rem;
    box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.pet__card > img {
    width: 100%;
}

.pet__card-info {
    margin-top: -3rem;
    border-radius: .5rem;
    padding: 1rem;
    padding-top: 1.75rem;
    border: 1;
    /* text-decoration: none;
    color: black; */
}

.pet__card-info > h2 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
}