.profile__container {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
    text-align: left;
    background-color: whitesmoke;
}

.profile__container > img {
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 16.5rem;
    object-fit: cover;
    margin: .5rem .5rem .5rem 0;
    border-radius: .5rem;
}

.profile__info {
    margin-top: -.75rem;
    padding: 1rem;
}

.profile__info > h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile__info > h3 {
    font-size: 1rem;
    font-weight: 600;
}

.profile__description {
    font-size: .95rem;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.personality__scales {
    width: 60%;
    margin: 1rem;
}

.profile__sliders {
    text-align: center;
}

.profile__message-owner {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: left;
    /* justify-content: center; */
    text-align: center;
    font-weight: 600;
}

button.message {
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(171, 172, 175);
    border-radius: 10px;
}

i.fas {
    padding-left: 15px;
    padding-right: 15px;
}