#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  color: rgb(13, 51, 223);
  position: absolute;
  background-color: rgba(179, 179, 179, 0.9);
  border-radius: .1rem;
  padding: 1.5rem;
}

#modal-content ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  padding: 0;
}
