.messages {
  display: flex;
  padding: 0 1rem;
  max-width: 1140px;
  height: 90vh;
  margin: auto;
}

.messages__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 172, 175);
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  margin: 0.25rem;
  padding: 1rem;
}

.messages__users-holder {
  display: flex;
  width: 25%;
  align-items: center;
}

.messages__texts-holder {
  width: 100%;
  justify-content: space-between;
  /* overflow: scroll; */
}

.messages__title {
  color: rgba(13, 51, 223, 0.76);
  font-weight: 300;
  width: fit-content;
  margin: 0 auto;
  background-color: rgb(171, 172, 175);
  margin-bottom: 1rem;
}

.messages__other-user {
  background: rgba(223, 132, 13, 0.479);
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: fill;
  margin: 0 auto;
}

.messages__other-user:hover {
  cursor: pointer;
  background: rgb(223, 132, 13);
  box-shadow: 0px 6px 6px -9px rgba(0, 0, 0, 0.75);
}
.messages__other-user:active {
  background: rgba(223, 132, 13, 0.479);
  box-shadow: none;
}

.messages__texts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.messages__texts__right {
  align-self: flex-end;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messages__texts__left {
  margin-right: 0.75rem;
}

.single-message-text {
  background-color: rgba(13, 51, 223, 0.300);
  border-radius: 0.75rem;
  width: fit-content;
  padding: 0.35rem;
  box-sizing: content-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

.timestamp {
  font-size: 0.5rem;
}

.msg-form {
  display: flex;
  margin-top: 0.25rem;
}

.msg-form__input {
  border-radius: 0.75rem;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0.25rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
}

.msg-form__input:focus {
  box-shadow: 0 0 0 3px rgba(13, 51, 223, 0.300);
}

.msg-form__button {
  color: rgb(223, 132, 13);
}
