.site-header {
  position: sticky;
  /* z-index: 10; */
  width: 100%;
  top: 0;
  background-color: rgba(179, 179, 179, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Spartan', sans-serif;
  color: rgb(223, 132, 13);
  text-decoration: none;
}

.site-header__title {
  font-size: 1.4rem;
  font-weight: 650;
}

.nav {
  display: block;
}

.nav__wrapper {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

.nav__item {
  margin: 0 0.5rem;
  position: relative;
}

.navbar__dropdown {
  list-style: none;
  position: absolute;
  right: 0;
  background-color: rgba(0, 29, 41, 0.719);
  margin-top: 0.1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-weight: 600;
}

.navbar__dropdown-collapse {
  /* right: auto; */
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.navbar__dropdown__info {
  color: rgb(202, 202, 202);
  padding: 0.25rem;
}
.navbar__dropdown__button {
  color: rgb(52, 168, 226);
  margin: 0.25rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* .site-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70%;
  padding: 0 0.5rem;
}

.navbar__links {
  list-style: none;
  margin: 0;
}

.navbar__link {
  display: inline;
  padding: 0 0.5rem;
  vertical-align: middle;
} */
